<div class="question-preview">
    <span *ngIf="testForm.title">
        <h1>{{ testForm.title }}</h1>
        <hr>
    </span>
    <div *ngFor="let question of testForm.questions" class="question">
        <h2 class="question-label" >{{ question.questionLabel }}</h2>
        <ol *ngIf="question.answers" type="a">
            <ng-container *ngFor="let answer of question.answers">
                <li *ngIf="answer.answerLabel">{{ answer.answerLabel }}</li>
            </ng-container>
        </ol>
        <hr *ngIf="question.questionLabel">
    </div>
</div>