<div>
    <span *ngIf="testForm.title">
        <h1>{{ testForm.title }}</h1>
        <hr>
    </span>
    <div *ngFor="let question of testForm.questions">
        <h2 *ngIf="question.questionLabel">{{ question.questionLabel }}</h2>
        <ol *ngIf="question.answers" class="list-unstyled">
            <ng-container *ngFor="let answer of question.answers">
                <li *ngIf="answer.answerLabel">
                    <span class="oi" [ngClass]="answer.correct ? 'oi-circle-check' : 'oi-circle-x'"></span>
                    {{ answer.answerLabel }}
                </li>
            </ng-container>
        </ol>
        <hr *ngIf="question.questionLabel">
    </div>
</div>